h1{
	color: #FF7400;
	background-color: #00C0C0;
    font-family: 'Sedgwick Ave Display', cursive;
}
h2{	
	margin: 20px;
	color: white;
	background-color: #6600CC;
    font-family: 'Joti One', cursive;
}
body{
	background-color: #FFDB00 !important;
	/*text-align: center;*/
    font-family: 'Joti One', cursive;
}

.picture{
	font-size:50px;
	padding-right: 50px;
	padding-left: 50px;
	text-shadow: -0.3em 0 red,
             0.3em 0 cyan;
}
#bob{
	margin: 20px;
	width: 200px;
	align-items: center;
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

.lien{ 
	width: 100px;
	padding-right: 20px;
	padding-left: 20px; 
 }

 a {
 	text-decoration: none;
 }

.cadre{
	background-color: white;
	padding: 30px;
	border: solid 5PX black;
	border-radius: 10px;
}
.blue{
	background-color: blue;
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*position: relative;*/
}
.black{
	background-color: black;
	width: 50px;
	height: 50px;
	/*position: absolute;*/
	/*top: 10px;
	right : 10px;*/
}
.orange {
	background-color: orange;
	width: 50px;
	height: 50px;
}
